/* UNIVERSAL */
/* Tag Section  */

body:before {
	content: "xsmall";
	display: none;
	visibility: hidden;
}

@media (min-width: 576px) {
	body:before {
		content: "small";
	}
}

@media (min-width: 768px) {
	body:before {
		content: "medium";
	}
}

@media (min-width: 992px) {
	body:before {
		content: "large";
	}
}

@media (min-width: 1200px) {
	body:before {
		content: "xlarge";
	}
}

body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

/* ---------------------------------------------------------------- */
/* Navbar Styling  */

.navbar {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: black;
}

.navbar-brand img {
    width: 25px;
    height: 25px;
    margin: 2px;
}

.active {
    font-weight: 500;
}

.banner {
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
    text-align: center;
}

.banner h1 {
    font-weight: 600;
    line-height: 60px;
}

.btn-group .btn:focus, .btn-group .btn:active {
    box-shadow: none;
    color: white;
    outline: 0;
}

.btn-selected {
    pointer-events: none;
}

.container-fluid {
    padding: 0 5%;
}

/* *************************************************************************** */
/* HOME */

/* Class Section  */

.navbar-home {
    background-color: #ffffff;
}

.home-title {
    color: black;
    font-weight: 600;
    padding-top: 75px;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-title{
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-text{
    color: #434343;
    font-weight: normal;
    font-size: 0.95rem;
    padding-bottom: 45px;
}

.card-body{
    font-family: 'Mulish';
    text-align: center;
}

.card-body .btn {
    font-family: 'Times New Roman', Times, serif;
}

.card-img-top {
    width: 70px;
    min-width: 70px;
    margin: auto;
    margin-top: 10%;
}

.home-btn {
    position: absolute;
    bottom: 15px;
    left: 20%;
    width: 60%;
}
  
.btn-stocks-unselected {
    border-color: #FFBFBF;
    background-color:  #EE6C6C;
}

.btn-stocks-selected, .btn-stocks-unselected:hover {
    border-color: #FFBFBF;
    background-color:  #EE6C6C;
    color: white;
}

.btn-recco-unselected {
    background-color: #2D9CDB;
    border-color: #2D9CDB;
}

.btn-recco-selected, .btn-recco-unselected:hover {
    background-color: #2D9CDB;
    border-color: #2D9CDB;
    color: white;
}
/* ---------------------------------------------------------------- */
/* ID Section  */

#top-section{
    align-self: center;
    background-image: url("images/tech.png");
    background-repeat: no-repeat;
    height: 480px;
    width: 1440px;
}

/* ---------------------------------------------------------------- */
/* news Article  */

.recentNews {
    background-color: #b5b1b1 
}
.recentNews .news-title {
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size:55px;
    font-weight:bold;
    color: #fff;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.recentNews .ct-blog {
    margin-bottom: 30px;
}
.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
}
.ct-blog .inner:hover {
    background-color: #e6e6e6;
}
.ct-blog .fauxcrop {
    height: 180px;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 100%;
}
.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 18px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);  
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: rgb(20, 117, 175);  
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}
.btn-news {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.btn-news.btn-contests a {
    color: #fff;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: #000;
}
